<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<stepAssemblies>
			<stepAssembly assembly="Vermaat.Crm.Specflow" />
			<stepAssembly assembly="Vermaat.Crm.Specflow.Expressions" />
			<stepAssembly assembly="Vermaat.Crm.Specflow.Sample" />
		</stepAssemblies>
	</specFlow>
	<appSettings file="appsettings.config">
		<add key="Target" value="" />
		<add key="Headless" value="false" />
		<add key="LanguageCode" value="1033" />
		<add key="DefaultDataFile" value="DefaultData.xml" />
		<add key="AppName" value="mv_SpecFlowDemo" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="UCIOnly" value="true" />
		<add key="TimeFormat" value="H:mm" />
		<add key="DateFormat" value="d-M-yyyy" />
		<add key="AsyncJobTimeoutInSeconds" value="60" />
		<add key="LoginType" value="OAuth"/>
		<add key="RedirectUrl" value="app://58145B91-0C36-4500-8554-080854F2AC97"/>
		<add key="AppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
		<add key="LocalizationOverrides" value="LocalizedTexts.json" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>
