<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.6210" targetFramework="net462" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.2.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.2.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="16.2.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="77.0.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="SpecFlow" version="3.0.225" targetFramework="net461" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.0.225" targetFramework="net461" />
  <package id="SpecRun.Runner" version="3.0.377" targetFramework="net461" />
  <package id="SpecRun.SpecFlow.3-0-0" version="3.0.377" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
</packages>