<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<stepAssemblies>
			<stepAssembly assembly="PowerPlatform.SpecflowExtensions" />

			<!-- This assembly was added to supply a few extra steps that are only used for unit testing and shouldn't be part of the nuget package-->
			<stepAssembly assembly="PowerPlatform.SpecflowExtensions.Sample" />
		</stepAssemblies>
	</specFlow>
	<appSettings file="appsettings.config">
		<add key="AppName" value="mv_SpecFlowDemo" />
		<add key="AsyncJobTimeoutInSeconds" value="20" />
		<add key="DateFormat" value="d-M-yyyy" />
		<add key="DefaultDataFile" value="DefaultData.xml" />
		<add key="LanguageCode" value="1033" />
		<add key="Target" value="" />
		<add key="TimeFormat" value="H:mm" />
		<add key="LoginType" value="ImpersonatedClientSecret"/>
	</appSettings>
</configuration>